<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{layout/navbar :: navbar}"></div>
<div th:if="${msg}">
    <div class="alert alert-primary alert-dismissible">
        <div th:text="${msg}"></div>
        <button id="dismissButton" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <script>
            function autoClick() {
              document.getElementById('dismissButton').click();
            }
            setTimeout(autoClick, 5000);
        </script>
    </div>
</div>
<div class="container py-5">
    <div class="rounded-border p-4">
        <h2 class="text-center mb-4">Contacts</h2>
        <hr>
        <form class="d-flex" role="search" action="/contacts/search" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input class="form-control me-2" type="search" placeholder="Search contact name" aria-label="Search" name="contact-to-search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <p/>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Address</th>
                <th scope="col">Relationship</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.contactName}"></td>
                <td th:text="${contact.phoneNumber}"></td>
                <td th:text="${contact.address}"></td>
                <td th:text="${contact.relationship}"></td>
                <td>
                    <button th:attr="data-id=${contact.contactId}" id="btnShowContact-${contact.contactId}" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#contactModal">View</button>
                    <div class="modal fade" tabindex="-1" th:id="'contactModal-' + ${contact.contactId}">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 th:text="${contact.contactName}" class="modal-title"></h5>
                                    <button th:id="'btnHideModal-' + ${contact.contactId}" type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td th:text="${contact.contactName}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Number</th>
                                            <td th:text="${contact.phoneNumber}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Address</th>
                                            <td th:text="${contact.address}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Relationship</th>
                                            <td th:text="${contact.relationship}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Nationality</th>
                                            <td th:text="${contact.nationality}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Profession</th>
                                            <td th:text="${contact.profession}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Company</th>
                                            <td th:text="${contact.company}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Job Address</th>
                                            <td th:text="${contact.jobAddress}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <div class="d-flex flex-row align-items-center">
                                        <form class="container" th:action="@{/contacts/{id}/delete(id=${contact.contactId})}" method="POST">
                                            <button th:id="'btnHideModal-' + ${contact.contactId}" type="submit" class="btn btn-outline-danger" data-dismiss="modal">Delete</button>
                                        </form>
                                        <a th:href="@{/contacts/{id}/edit(id=${contact.contactId})}" th:id="'btnHideModal-' + ${contact.contactId}" class="btn btn-outline-primary">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="/contacts/add" class="btn btn-outline-primary">Add</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script>
    document.querySelectorAll("[id^='btnShowContact']").forEach(button => {
        button.addEventListener("click", function () {
            const contactId = this.getAttribute("data-id");
            const modal = new bootstrap.Modal(document.getElementById("contactModal-" + contactId));
            modal.show();
        });
    });

    document.querySelectorAll("[id^='btnHideModal']").forEach(button => {
        button.addEventListener("click", function () {
            const contactId = this.id.split('-')[1]; // Extracting contactId from the id
            console.log(contactId)
            const modal = bootstrap.Modal.getInstance(document.getElementById("contactModal-" + contactId));
            modal.hide();
        });
    });

    document.querySelectorAll("[id^='btnDeleteContact']").forEach(button => {
        button.addEventListener("click", function () {
            const contactId = this.id.split('-')[1];
            const modal = bootstrap.Modal.getInstance(document.getElementById("contactModal-" + contactId));
            modal.hide();
        });
    });

    document.querySelectorAll("[id^='btnUpdateContact']").forEach(button => {
        button.addEventListener("click", function () {
            const contactId = this.id.split('-')[1];
            const modal = bootstrap.Modal.getInstance(document.getElementById("contactModal-" + contactId));
            modal.hide();
        });
    });
</script>
</body>
</html>